HLUZ/Configs/Sentinel/Config em Qualidade/20210218/1.0/Report/ReportFormat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ReportFormat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- attributes -->
  <xs:attribute name="X" type="xs:float" />
  <xs:attribute name="Y" type="xs:float" />
  <xs:attribute name="X0" type="xs:float" />
  <xs:attribute name="Y0" type="xs:float" />
  <xs:attribute name="X1" type="xs:float" />
  <xs:attribute name="Y1" type="xs:float" />
  <xs:attribute name="OffsetType" default="Abs">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Abs" />
        <xs:enumeration value="DAbs" />
        <xs:enumeration value="Bottom" />
        <xs:enumeration value="NewLine" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name ="GraticuleSize" default="Small" >
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Small"/>
        <xs:enumeration value="Medium"/>
        <xs:enumeration value="Large"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="Thickness" default="Normal">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Normal" />
        <xs:enumeration value="Thick" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="Vertical" default="Below">
  <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Above" />
        <xs:enumeration value="Middle" />
        <xs:enumeration value="Below" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="Horizontal" default="Left">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Left" />
        <xs:enumeration value="Centre" />
        <xs:enumeration value="Right" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="FontType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="RomanNormalBold" />
        <xs:enumeration value="RomanSmall" />
        <xs:enumeration value="RomanNormal" />
        <xs:enumeration value="RomanLarge" />
        <xs:enumeration value="ArialLargeBold" />
        <xs:enumeration value="ArialNormalBold" />
        <xs:enumeration value="ArialSmall" />
        <xs:enumeration value="Arial8" />
        <xs:enumeration value="Arial8Ttf" />
        <xs:enumeration value="ArialNormal" />
        <xs:enumeration value="ArialLarge" />
        <xs:enumeration value="ArialSmallTtf" />
        <xs:enumeration value="ArialNormalTtf" />
        <xs:enumeration value="ArialNormalBoldTtf" />
        <xs:enumeration value="ArialLargeTtf" />
        <xs:enumeration value="ArialLargeBoldTtf" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="Format">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Text" />
        <xs:enumeration value="RTF" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="CalliperType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="RestingECG" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="SCPCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="I" />
        <!-- 1 -->
        <xs:enumeration value="II" />
        <!-- 2 -->
        <xs:enumeration value="V1" />
        <!-- 3 -->
        <xs:enumeration value="V2" />
        <!-- 4 -->
        <xs:enumeration value="V3" />
        <!-- 5 -->
        <xs:enumeration value="V4" />
        <!-- 6 -->
        <xs:enumeration value="V5" />
        <!-- 7 -->
        <xs:enumeration value="V6" />
        <!-- 8 -->
        <xs:enumeration value="V7" />
        <!-- 9 -->
        <xs:enumeration value="V2R" />
        <!-- 10 -->
        <xs:enumeration value="V3R" />
        <!-- 11 -->
        <xs:enumeration value="V4R" />
        <!-- 12 -->
        <xs:enumeration value="V5R" />
        <!-- 13 -->
        <xs:enumeration value="V6R" />
        <!-- 14 -->
        <xs:enumeration value="V7R" />
        <!-- 15 -->
        <xs:enumeration value="X" />
        <!-- 16 -->
        <xs:enumeration value="Y" />
        <!-- 17 -->
        <xs:enumeration value="Z" />
        <!-- 18 -->
        <xs:enumeration value="CC5" />
        <!-- 19 -->
        <xs:enumeration value="CM5" />
        <!-- 20 -->
        <xs:enumeration value="LeftArm" />
        <!-- 21 -->
        <xs:enumeration value="RightArm" />
        <!-- 22 -->
        <xs:enumeration value="LeftLeg" />
        <!-- 23 -->
        <xs:enumeration value="IFrank" />
        <!-- 24 -->
        <xs:enumeration value="E" />
        <!-- 25 -->
        <xs:enumeration value="C" />
        <!-- 26 -->
        <xs:enumeration value="A" />
        <!-- 27 -->
        <xs:enumeration value="M" />
        <!-- 28 -->
        <xs:enumeration value="F" />
        <!-- 29 -->
        <xs:enumeration value="H" />
        <!-- 30 -->
        <xs:enumeration value="ICal" />
        <!-- 31 -->
        <xs:enumeration value="IICal" />
        <!-- 32 -->
        <xs:enumeration value="V1Cal" />
        <!-- 33 -->
        <xs:enumeration value="V2Cal" />
        <!-- 34 -->
        <xs:enumeration value="V3Cal" />
        <!-- 35 -->
        <xs:enumeration value="V4Cal" />
        <!-- 36 -->
        <xs:enumeration value="V5Cal" />
        <!-- 37 -->
        <xs:enumeration value="V6Cal" />
        <!-- 38 -->
        <xs:enumeration value="V7Cal" />
        <!-- 39 -->
        <xs:enumeration value="V2RCal" />
        <!-- 40 -->
        <xs:enumeration value="V3RCal" />
        <!-- 41 -->
        <xs:enumeration value="V4RCal" />
        <!-- 42 -->
        <xs:enumeration value="V5RCal" />
        <!-- 43 -->
        <xs:enumeration value="V6RCal" />
        <!-- 44 -->
        <xs:enumeration value="V7RCal" />
        <!-- 45 -->
        <xs:enumeration value="XCal" />
        <!-- 46 -->
        <xs:enumeration value="YCal" />
        <!-- 47 -->
        <xs:enumeration value="ZCal" />
        <!-- 48 -->
        <xs:enumeration value="CC5Cal" />
        <!-- 49 -->
        <xs:enumeration value="CM5Cal" />
        <!-- 50 -->
        <xs:enumeration value="LeftArmCal" />
        <!-- 51 -->
        <xs:enumeration value="RightArmCal" />
        <!-- 52 -->
        <xs:enumeration value="LeftLegCal" />
        <!-- 53 -->
        <xs:enumeration value="IFrankCal" />
        <!-- 54 -->
        <xs:enumeration value="ECal" />
        <!-- 55 -->
        <xs:enumeration value="CCal" />
        <!-- 56 -->
        <xs:enumeration value="ACal" />
        <!-- 57 -->
        <xs:enumeration value="MCal" />
        <!-- 58 -->
        <xs:enumeration value="FCal" />
        <!-- 59 -->
        <xs:enumeration value="HCal" />
        <!-- 60 -->
        <xs:enumeration value="III" />
        <!-- 61 -->
        <xs:enumeration value="AVR" />
        <!-- 62 -->
        <xs:enumeration value="AVL" />
        <!-- 63 -->
        <xs:enumeration value="AVF" />
        <!-- 64 -->
        <xs:enumeration value="AVRNegative" />
        <!-- 65 -->
        <xs:enumeration value="V8" />
        <!-- 66 -->
        <xs:enumeration value="V9" />
        <!-- 67 -->
        <xs:enumeration value="V8R" />
        <!-- 68 -->
        <xs:enumeration value="V9R" />
        <!-- 69 -->
        <xs:enumeration value="DNehbDorsal" />
        <!-- 70 -->
        <xs:enumeration value="ANehbAnterior" />
        <!-- 71 -->
        <xs:enumeration value="JNehbInferior" />
        <!-- 72 -->
        <xs:enumeration value="DefibrillatorLeadAnteriorLateral" />
        <!-- 73 -->
        <xs:enumeration value="ExternalPacingLeadAnteriorPosterior" />
        <!-- 74 -->
        <xs:enumeration value="A1" />
        <!-- 75 -->
        <xs:enumeration value="A2" />
        <!-- 76 -->
        <xs:enumeration value="A3" />
        <!-- 77 -->
        <xs:enumeration value="A4" />
        <!-- 78 -->
        <xs:enumeration value="V8Cal" />
        <!-- 79 -->
        <xs:enumeration value="V9Cal" />
        <!-- 80 -->
        <xs:enumeration value="V8RCal" />
        <!-- 81 -->
        <xs:enumeration value="V9RCal" />
        <!-- 82 -->
        <xs:enumeration value="DCalNehbDorsal" />
        <!-- 83 -->
        <xs:enumeration value="ACalNehbAnterior" />
        <!-- 84 -->
        <xs:enumeration value="JCalNehbInferior" />
        <!-- 85 -->
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="ReportTypeValue">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="RestingECG" />
        <xs:enumeration value="RhythmECG" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="PageTypeValue">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="NormalPage" />
        <xs:enumeration value="RhythmFrontPage" />
        <xs:enumeration value="RhythmContinuationPage" />
        <xs:enumeration value="Rhythm10SecStripPage" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="EcgScaleType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="TimesHalf" />
        <xs:enumeration value="TimesOne" />
        <xs:enumeration value="ReadFromSentinel" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="EcgSpeedType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="MmPerSec25" />
        <xs:enumeration value="ReadFromSentinel" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="PacingTraceType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="False" />
        <xs:enumeration value="ReadFromSentinel" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <!-- simple elements -->
    <xs:element name="Language">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Name" type="xs:string" default="En-Us"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  <xs:element name="Text">
      <xs:complexType>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="Language"/>
        </xs:sequence>
      </xs:complexType>
  </xs:element>
  <xs:element name="PageType">
    <xs:complexType>
      <xs:attribute ref="PageTypeValue" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportType">
    <xs:complexType>
      <xs:attribute ref="ReportTypeValue" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PageOrientation" default="Landscape">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Landscape" />
        <xs:enumeration value="Portrait" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
    <xs:element name="Parameter">
    <xs:complexType>
      <xs:attribute name="Number" type="xs:unsignedByte" use="required" />
      <xs:attribute name="Id" type="xs:string" use="required" />
      <xs:attribute ref="Format" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Condition">
    <xs:complexType>
      <xs:attribute name="Param" type="xs:string" use="required" />
      <xs:attribute name="Value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SectionSize">
    <xs:complexType>
      <xs:attribute ref="X" use="required" />
      <xs:attribute ref="Y" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SectionPos">
    <xs:complexType>
      <xs:attribute ref="X" use="required" />
      <xs:attribute ref="Y" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartNextSection">
    <xs:complexType>
      <xs:attribute ref="X" use="required" />
      <xs:attribute ref="Y" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Size">
    <xs:complexType>
      <xs:attribute ref="X" use="required" />
      <xs:attribute ref="Y" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Position">
    <xs:complexType>
      <xs:attribute ref="X" use="required" />
      <xs:attribute ref="Y" use="required" />
      <xs:attribute ref="OffsetType" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Alignment">
    <xs:complexType>
      <xs:attribute ref="Vertical" use="required" />
      <xs:attribute ref="Horizontal" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Font">
    <xs:complexType>
      <xs:attribute ref="FontType" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowECG">
    <xs:complexType>
      <xs:attribute name="Show" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowBPMarkers">
    <xs:complexType>
      <xs:attribute name="Show" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowGraticule">
    <xs:complexType>
      <xs:attribute name="Show" type="xs:boolean" use="required" />
      <xs:attribute ref="GraticuleSize" use="optional" default="Small"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowCallipers">
    <xs:complexType>
      <xs:attribute ref="CalliperType" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTo">
    <xs:complexType>
      <xs:attribute ref="X" use="required" />
      <xs:attribute ref="Y" use="required" />
      <xs:attribute ref="OffsetType" use="optional" />
      <xs:attribute ref="Thickness" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawLineRel">
    <xs:complexType>
      <xs:attribute ref="X" use="required" />
      <xs:attribute ref="Y" use="required" />
      <xs:attribute ref="OffsetType" use="optional" />
      <xs:attribute ref="Thickness" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawLine">
    <xs:complexType>
      <xs:attribute ref="X0" use="required" />
      <xs:attribute ref="Y0" use="required" />
      <xs:attribute ref="X1" use="required" />
      <xs:attribute ref="Y1" use="required" />
      <xs:attribute ref="OffsetType" use="optional" />
      <xs:attribute ref="Thickness" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="LongComments">
    <xs:complexType>
      <xs:attribute name="Filename" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <!--Label Str="I"/-->
  <xs:element name="TraceNumber">
    <xs:complexType>
      <xs:attribute name="Number" type="xs:int" use="optional" />
      <xs:attribute name="IsRhythmLead" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartOffset">
    <xs:complexType>
      <xs:attribute name="MilliMetres" type="xs:float" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SeqOffset">
    <xs:complexType>
      <xs:attribute name="MilliMetres" type="xs:float" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SimOffset">
    <xs:complexType>
      <xs:attribute name="MilliMetres" type="xs:float" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Scale">
    <xs:complexType>
      <xs:attribute ref="EcgScaleType" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Speed">
    <xs:complexType>
      <xs:attribute ref="EcgSpeedType" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PacingTrace">
    <xs:complexType>
      <xs:attribute ref="PacingTraceType" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="BitmapFile">
    <xs:complexType>
      <xs:attribute name="Filename" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Orientation">
    <xs:complexType>
      <xs:attribute name="Angle" type="xs:float" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ECGTrace">
    <xs:complexType>
      <xs:attribute name="Number" type="xs:int" use="required" />
      <xs:attribute ref="SCPCode" use="required" />
    </xs:complexType>
  </xs:element>
  <!-- composite elements -->
  <xs:element name="Definition">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Title" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ReportType" />
        <xs:element ref="PageType" />
        <xs:element ref="PageOrientation"/>
        <xs:element name="CultureInfoName" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Page">
    <xs:complexType>
      <xs:attribute name="Filename" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawPolyLine">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="Condition" maxOccurs="1" />
        <xs:element ref="MoveTo" maxOccurs="1" />
        <xs:element ref="DrawLineRel" minOccurs="1" maxOccurs="unbounded" />
      </xs:choice>
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawText">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="Condition" minOccurs="0" maxOccurs="1" />
        <xs:element ref="Position" maxOccurs="1" />
        <xs:element ref="Size" maxOccurs="1" />
        <xs:element ref="Parameter" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="Alignment" minOccurs="0" maxOccurs="1" />
        <xs:element ref="Font" minOccurs="0" maxOccurs="1" />
        <xs:element ref="Text"  minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="LongComments" minOccurs="0" maxOccurs="1" />
      </xs:choice>
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ECGTraceMap">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="ECGTrace" maxOccurs="unbounded" />
      </xs:choice>
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ECGStrip">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="Condition" minOccurs="0" maxOccurs="1" />
        <xs:element ref="Position" maxOccurs="1" />
        <xs:element ref="Size" maxOccurs="1" />
        <xs:element ref="TraceNumber" maxOccurs="1" />
        <xs:element ref="StartOffset" minOccurs="0" maxOccurs="1" />
        <xs:element ref="SeqOffset" minOccurs="0" maxOccurs="1" />
        <xs:element ref="SimOffset" minOccurs="0" maxOccurs="1" />
        <xs:element ref="Scale" maxOccurs="1" />
        <xs:element ref="Speed" maxOccurs="1" />
        <xs:element ref="PacingTrace" maxOccurs="1" />
        <xs:element ref="ShowECG" maxOccurs="1" />
        <xs:element ref="ShowGraticule" maxOccurs="1" />
        <xs:element ref="ShowCallipers" maxOccurs="1" />
      </xs:choice>
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiLineECG">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="Condition" minOccurs="0" maxOccurs="1" />
        <xs:element ref="Position" maxOccurs="1" />
        <xs:element ref="Size" maxOccurs="1" />
        <xs:element ref="TraceNumber" maxOccurs="1" />
        <xs:element ref="Scale" maxOccurs="1" />
        <xs:element ref="Speed" maxOccurs="1" />
        <xs:element ref="ShowGraticule" maxOccurs="1" />        
        <xs:element ref="ShowBPMarkers" maxOccurs="1" />
        <xs:element ref="PacingTrace" maxOccurs="1" />
      </xs:choice>
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawBitmap">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="Position" maxOccurs="1" />
        <xs:element ref="Size" maxOccurs="1" />
        <xs:element ref="BitmapFile" maxOccurs="1" />
        <xs:element ref="Orientation" maxOccurs="1" />
      </xs:choice>
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PageXOfY">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="Position" maxOccurs="1" />
        <xs:element ref="Size" maxOccurs="1" />
        <xs:element ref="Parameter" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="Alignment" minOccurs="0" maxOccurs="1" />
        <xs:element ref="Font" minOccurs="0" maxOccurs="1" />
        <xs:element ref="Text"  minOccurs="1" maxOccurs="unbounded"/>
      </xs:choice>
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:attribute name="PageSize">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="A4" />
        <xs:enumeration value="Letter" />
       </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <!-- Top level elements -->
  <xs:element name="ReportFormat">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="Definition" maxOccurs="1" />
        <xs:element ref="Page" maxOccurs="unbounded" />
        <xs:element ref="SectionPos" maxOccurs="1" />
        <xs:element ref="SectionSize" minOccurs="0" maxOccurs="1" />
        <xs:element ref="DrawPolyLine" maxOccurs="unbounded" />
        <xs:element ref="DrawLine" maxOccurs="unbounded" />
        <xs:element ref="DrawText" maxOccurs="unbounded" />
        <xs:element ref="ECGTraceMap" minOccurs="0" maxOccurs="1" />
        <xs:element ref="ECGStrip" maxOccurs="unbounded" />
        <xs:element ref="MultiLineECG" maxOccurs="unbounded" />
        <xs:element ref="DrawBitmap" maxOccurs="unbounded" />
        <xs:element ref="StartNextSection" minOccurs="0" maxOccurs="1" />
        <xs:element ref="PageXOfY" minOccurs="0" maxOccurs="1" />
      </xs:choice>
      <xs:attribute ref="PageSize" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>